# Java
*.class

# Mario AI
MarioAI/bin
MarioAI2009/bin

# Package Files 
*.zip

# Eclipse
.classpath
.project
.settings

# temp
temp

# Mario Main
MarioAI2009/src/ch/idsia/scenarios/Play.java
MarioAI2009/src/ch/idsia/scenarios/PlaySam.java

# Serializable files
#   denote exceptions with prefix !
*.ser
!showQlearn.ser

# debug file
*.db