# Java
*.class

# Mario AI
MarioAI/bin
MarioAI2009/bin

# Package Files 
*.zip

# Eclipse
.classpath
.project
.settings

# temp
temp

# Test files
MarioAI2009/src/ch/idsia/scenarios/Play.java
MarioAI2009/src/ch/idsia/scenarios/PlaySam.java
MarioAI2009/src/UvA/stateSpaceReduction/Test.java

# Serializable files
#   denote exceptions with prefix !
*.ser
!showQlearn.ser
!dif1lev2qlearn.ser

# Settings file
config.properties

# debug files
*.debug
